Repository StPfeffer/inventory-management, pull requests merged in 2024-10, with the labels that each got.

#1 feat: added GitHub actions
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/dependency.yml
  .github/workflows/deploy.yml
  .github/workflows/label.yml
  .github/workflows/node-ci.yml
  .github/workflows/stale.yml
Labels: workflows, github

#7 feat: header
  .github/labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/node-ci.yml
  README.md
  eslint.config.js
  src/App.css
  src/App.tsx
  src/components/header/header.tsx
  src/components/header/logo.tsx
  src/components/header/nav-link.tsx
  src/components/header/types.ts
  src/components/mode-toggle.tsx
  src/index.css
  src/main.tsx
  tailwind.config.js
Labels: workflows, github

#9 fix: deploy workflow
  .github/workflows/deploy.yml
Labels: bug, workflows, github

#10 fix: GitHub repository link
  src/components/home/hero/hero.tsx
Labels: bug

#16 feat: transactions pages
  package.json
  src/components/admin-layout.tsx
  src/components/admin-panel/dashboard/dashboard.tsx
  src/components/admin-panel/dashboard/transactions/expenses-columns.tsx
  src/components/admin-panel/dashboard/transactions/transactions-columns.tsx
  src/components/admin-panel/dialog/transaction-details-dialog.tsx
  src/components/auth/form/login-form.tsx
  src/components/data-table/data-table.tsx
  src/components/routes.tsx
  src/lib/menu-list.ts
  src/pages/dashboard.tsx
  src/pages/transactions/dashboard/page.tsx
  src/pages/transactions/expenses/page.tsx
  src/pages/transactions/incomes/page.tsx
  src/pages/transactions/transactions/page.tsx
  tsconfig.app.tsbuildinfo
Labels: dependency

#17 Customer
  package-lock.json
  src/components/admin-panel/form/customer/new-customer-form.tsx
  src/components/customer/table/customer-columns.tsx
  src/components/customer/table/cutomer-data-table-row-actions.tsx
  src/components/data-table/data-table-row-actions.tsx
  src/components/data-table/data-table.tsx
  src/components/routes.tsx
  src/components/ui/button.tsx
  src/pages/customer/index.tsx
  src/server/repositories/customer-repository.ts
  src/services/customer-service.ts
  src/types/customer.ts
  tsconfig.app.tsbuildinfo
  tsconfig.node.tsbuildinfo
Labels: enhancement
